:host {
  display: block;
  text-align: center;
  margin: 20px auto;
}

.password-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.password-input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

.strength-meter {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.strength-section {
  flex: 1;
  height: 20px;
  margin-right: 5px;
  background-color: #ddd;
  border-radius: 5px;
}

.easy {
  background-color: #ff6b6b;
}

.medium {
  background-color: #ffd166;
}

.strong {
  background-color: #8be6b3;
}
